[Unit]
Description=Gunicorn daemon for iRock Django application
After=network.target

[Service]
User=zxxz6
Group=www-data
WorkingDirectory=/home/zxxz6/irock/backend
Environment="PATH=/home/zxxz6/irock/backend/venv/bin"
ExecStart=/home/zxxz6/irock/backend/venv/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:8000 \
          --timeout 60 \
          --access-logfile /var/log/gunicorn/access.log \
          --error-logfile /var/log/gunicorn/error.log \
          crud.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
